In [51]:
import pandas as pd
import os

In [52]:
csv_path = r"C:\Users\liu12\Documents\Bootcamp\Covid_Economics\Resources\BalanceofTrade.csv"
bot_df = pd.read_csv(csv_path, encoding="latin1")

#Dropped first 4 rows
bot_df = bot_df.iloc[4:, :]
bot_df = bot_df.reset_index(drop=True)

# set the first row as the new header
new_header = bot_df.iloc[0] # grab the first row for the header
bot_df = bot_df[1:] # take the data excluding the header row
bot_df = bot_df.rename(columns = new_header) # set the header row as the DataFrame header

# drop the 'Base Year' column
bot_df = bot_df.drop('Base Year', axis=1)

bot_df = bot_df.rename(columns={'2017': 'bot_2017',
                        '2018': 'bot_2018',
                        '2019': 'bot_2019',
                        '2020': 'bot_2020',
                        '2021': 'bot_2021'})
bot_df = pd.melt(bot_df, id_vars=['Country'], value_vars=['bot_2017', 'bot_2018', 'bot_2019', 'bot_2020', 'bot_2021'], var_name='date', value_name='bot')

# select rows containing 'bot_2017' or 'exchange_2017' in the 'date' column
mask = (bot_df['date'] == 'bot_2017')
bot_df.loc[mask, 'date'] = '2017-01-01'  # replace with '2017'

mask = (bot_df['date'] == 'bot_2018')
bot_df.loc[mask, 'date'] = '2018-01-01'

mask = (bot_df['date'] == 'bot_2019')
bot_df.loc[mask, 'date'] = '2019-1-1'

mask = (bot_df['date'] == 'bot_2020')
bot_df.loc[mask, 'date'] = '2020-1-1'

mask = (bot_df['date'] == 'bot_2021')
bot_df.loc[mask, 'date'] = '2021-1-1'

bot_df = bot_df.sort_values(by=['Country', 'date'])

bot_df = bot_df.reset_index(drop=True)

bot_df.head(20)

                         Country        date         bot
0   Afghanistan, Islamic Rep. of  2017-01-01   -6,803.56
1   Afghanistan, Islamic Rep. of  2018-01-01   -6,378.17
2   Afghanistan, Islamic Rep. of    2019-1-1   -5,855.06
3   Afghanistan, Islamic Rep. of    2020-1-1   -5,506.55
4   Afghanistan, Islamic Rep. of    2021-1-1         ...
5                        Albania  2017-01-01   -1,978.66
6                        Albania  2018-01-01   -2,069.59
7                        Albania    2019-1-1   -2,103.43
8                        Albania    2020-1-1   -2,210.46
9                        Albania    2021-1-1   -2,392.17
10                       Algeria  2017-01-01  -22,402.64
11                       Algeria  2018-01-01  -15,701.39
12                       Algeria    2019-1-1  -15,707.64
13                       Algeria    2020-1-1  -17,445.13
14                       Algeria    2021-1-1   -2,546.28
15      Andorra, Principality of  2017-01-01         ...
16      Andorra, Principality of  2018-01-01         ...
17      Andorra, Principality of    2019-1-1       302.8
18      Andorra, Principality of    2020-1-1      114.55
19      Andorra, Principality of    2021-1-1         ...

In [53]:
csv_path_2 = r"C:\Users\liu12\Documents\Bootcamp\Covid_Economics\Resources\Exchange_Rates.csv"
exchange_df = pd.read_csv(csv_path_2, encoding="latin1")

#Dropped first 5 rows
exchange_df = exchange_df.iloc[5:, :]
exchange_df = exchange_df.reset_index(drop=True)

# set the first row as the new header
new_header = exchange_df.iloc[0] # grab the first row for the header
exchange_df = exchange_df[1:] # take the data excluding the header row
exchange_df = exchange_df.rename(columns = new_header) # set the header row as the DataFrame header

# drop the 'NaN Year' column
exchange_df = exchange_df.dropna(axis=1, how='all')

exchange_df = exchange_df.rename(columns={'2017': 'exchange_2017',
                        '2018': 'exchange_2018',
                        '2019': 'exchange_2019',
                        '2020': 'exchange_2020',
                        '2021': 'exchange_2021',
                        '2022':'exchange_2022'})
exchange_df = pd.melt(exchange_df, id_vars=['Country'], value_vars=['exchange_2017', 'exchange_2018', 'exchange_2019', 'exchange_2020', 'exchange_2021'], var_name='date', value_name='bot')

# select rows containing 'bot_2017' or 'exchange_2017' in the 'date' column
mask = (exchange_df['date'] == 'exchange_2017')
exchange_df.loc[mask, 'date'] = '2017-1-1'  # replace with '2017'

mask = (exchange_df['date'] == 'exchange_2018')
exchange_df.loc[mask, 'date'] = '2018-1-1'

mask = (exchange_df['date'] == 'exchange_2019')
exchange_df.loc[mask, 'date'] = '2019-1-1'

mask = (exchange_df['date'] == 'exchange_2020')
exchange_df.loc[mask, 'date'] = '2020-1-1'

mask = (exchange_df['date'] == 'exchange_2021')
exchange_df.loc[mask, 'date'] = '2021-1-1'

exchange_df = exchange_df.sort_values(by=['Country', 'date'])

exchange_df = exchange_df.reset_index(drop=True)

exchange_df.head(20)

                         Country      date     bot
0   Afghanistan, Islamic Rep. of  2017-1-1   69.49
1   Afghanistan, Islamic Rep. of  2018-1-1   74.96
2   Afghanistan, Islamic Rep. of  2019-1-1   78.41
3   Afghanistan, Islamic Rep. of  2020-1-1   77.11
4   Afghanistan, Islamic Rep. of  2021-1-1     ...
5                        Albania  2017-1-1  111.10
6                        Albania  2018-1-1  107.82
7                        Albania  2019-1-1  108.64
8                        Albania  2020-1-1  100.84
9                        Albania  2021-1-1  106.54
10                       Algeria  2017-1-1  114.93
11                       Algeria  2018-1-1  118.29
12                       Algeria  2019-1-1  119.16
13                       Algeria  2020-1-1  132.13
14                       Algeria  2021-1-1  138.84
15      Andorra, Principality of  2017-1-1     ...
16      Andorra, Principality of  2018-1-1     ...
17      Andorra, Principality of  2019-1-1     ...
18      Andorra, Principality of  2020-1-1    0.81
19      Andorra, Principality of  2021-1-1    0.88

In [54]:
csv_path_3 = r"C:\Users\liu12\Documents\Bootcamp\Covid_Economics\Resources\Inflation_Prices.csv"
inflation_df = pd.read_csv(csv_path_3, encoding="latin1")

#Dropped first 4 rows
inflation_df = inflation_df.iloc[4:, :]
inflation_df = inflation_df.reset_index(drop=True)

# set the first row as the new header
new_header = inflation_df.iloc[0] # grab the first row for the header
inflation_df = inflation_df[1:] # take the data excluding the header row
inflation_df = inflation_df.rename(columns = new_header) # set the header row as the DataFrame header

# drop the 'NaN Year' column
inflation_df = inflation_df.dropna(axis=1, how='all')
inflation_df = inflation_df.drop('Base Year', axis=1)

inflation_df = inflation_df.rename(columns={'2017': 'inflation_2017',
                        '2018': 'inflation_2018',
                        '2019': 'inflation_2019',
                        '2020': 'inflation_2020',
                        '2021': 'inflation_2021',
                        '2022':'inflation_2022'})
inflation_df = pd.melt(inflation_df, id_vars=['Country'], value_vars=['inflation_2017', 'inflation_2018', 'inflation_2019', 'inflation_2020', 'inflation_2021'], var_name='date', value_name='inflation')

# select rows containing 'inflation_2017' or 'inflation_2018' in the 'date' column
mask = (inflation_df['date'] == 'inflation_2017')
inflation_df.loc[mask, 'date'] = '2017-1-1'  # replace with '2017'

mask = (inflation_df['date'] == 'inflation_2018')
inflation_df.loc[mask, 'date'] = '2018-1-1'

mask = (inflation_df['date'] == 'inflation_2019')
inflation_df.loc[mask, 'date'] = '2019-1-1'

mask = (inflation_df['date'] == 'inflation_2020')
inflation_df.loc[mask, 'date'] = '2020-1-1'

mask = (inflation_df['date'] == 'inflation_2021')
inflation_df.loc[mask, 'date'] = '2021-1-1'

inflation_df = inflation_df.sort_values(by=['Country', 'date'])

inflation_df = inflation_df.reset_index(drop=True)

inflation_df.head(20)

                         Country      date inflation
0   Afghanistan, Islamic Rep. of  2017-1-1    145.61
1   Afghanistan, Islamic Rep. of  2018-1-1    146.52
2   Afghanistan, Islamic Rep. of  2019-1-1     149.9
3   Afghanistan, Islamic Rep. of  2020-1-1       ...
4   Afghanistan, Islamic Rep. of  2021-1-1       ...
5                        Albania  2017-1-1    115.06
6                        Albania  2018-1-1    117.39
7                        Albania  2019-1-1    119.05
8                        Albania  2020-1-1    120.98
9                        Albania  2021-1-1    123.45
10                       Algeria  2017-1-1    142.38
11                       Algeria  2018-1-1    148.46
12                       Algeria  2019-1-1    151.36
13                       Algeria  2020-1-1    155.02
14                       Algeria  2021-1-1    166.22
15                        Angola  2017-1-1    271.02
16                        Angola  2018-1-1    324.22
17                        Angola  2019-1-1     379.6
18                        Angola  2020-1-1    464.14
19                        Angola  2021-1-1    583.68

In [55]:
csv_path_4 = r"C:\Users\liu12\Documents\Bootcamp\Covid_Economics\Resources\Interest_Rates.csv"
interest_df = pd.read_csv(csv_path_4, encoding="latin1")

#Dropped first 5 rows
interest_df = interest_df.iloc[5:, :]
interest_df = interest_df.reset_index(drop=True)

# set the first row as the new header
new_header = interest_df.iloc[0] # grab the first row for the header
interest_df = interest_df[1:] # take the data excluding the header row
interest_df = interest_df.rename(columns = new_header) # set the header row as the DataFrame header

# drop the 'NaN Year' column
interest_df = interest_df.dropna(axis=1, how='all')
interest_df = interest_df.rename(columns={2017.0: 'interest_2017',
                        '2018': 'interest_2018',
                        '2019': 'interest_2019',
                        '2020': 'interest_2020',
                        '2021': 'interest_2021',
                        '2022':'interest_2022'})

interest_df = pd.melt(interest_df, id_vars=['Country'], value_vars=['interest_2017', 'interest_2018', 'interest_2019', 'interest_2020', 'interest_2021'], var_name='date', value_name='interest')

# select rows containing 'interest_2017' or 'interest_2018' in the 'date' column
mask = (interest_df['date'] == 'interest_2017')
interest_df.loc[mask, 'date'] = '2017-1-1'  # replace with '2017'

mask = (interest_df['date'] == 'interest_2018')
interest_df.loc[mask, 'date'] = '2018-1-1'

mask = (interest_df['date'] == 'interest_2019')
interest_df.loc[mask, 'date'] = '2019-1-1'

mask = (interest_df['date'] == 'interest_2020')
interest_df.loc[mask, 'date'] = '2020-1-1'

mask = (interest_df['date'] == 'interest_2021')
interest_df.loc[mask, 'date'] = '2021-1-1'

interest_df = interest_df.sort_values(by=['Country', 'date'])

interest_df = interest_df.reset_index(drop=True)

interest_df.head(20)

                         Country      date interest
0   Afghanistan, Islamic Rep. of  2017-1-1    14.84
1   Afghanistan, Islamic Rep. of  2018-1-1      ...
2   Afghanistan, Islamic Rep. of  2019-1-1      ...
3   Afghanistan, Islamic Rep. of  2020-1-1      ...
4   Afghanistan, Islamic Rep. of  2021-1-1      ...
5                        Albania  2017-1-1     6.22
6                        Albania  2018-1-1     5.93
7                        Albania  2019-1-1     6.28
8                        Albania  2020-1-1     6.12
9                        Albania  2021-1-1     6.02
10                       Algeria  2017-1-1      8.0
11                       Algeria  2018-1-1     8.00
12                       Algeria  2019-1-1     8.00
13                       Algeria  2020-1-1     8.00
14                       Algeria  2021-1-1     8.00
15                        Angola  2017-1-1    15.81
16                        Angola  2018-1-1    20.68
17                        Angola  2019-1-1    19.30
18                        Angola  2020-1-1    19.66
19                        Angola  2021-1-1    19.40

In [56]:
csv_path_5 = r"C:\Users\liu12\Documents\Bootcamp\Covid_Economics\Resources\International_Liquidity.csv"
liquidity_df = pd.read_csv(csv_path_5, encoding="latin1")

#Dropped first 5 rows
liquidity_df = liquidity_df.iloc[5:, :]
liquidity_df = liquidity_df.reset_index(drop=True)

# set the first row as the new header
new_header = liquidity_df.iloc[0] # grab the first row for the header
liquidity_df = liquidity_df[1:] # take the data excluding the header row
liquidity_df = liquidity_df.rename(columns = new_header) # set the header row as the DataFrame header

# drop the 'NaN Year' column
liquidity_df = liquidity_df.dropna(axis=1, how='all')

liquidity_df = liquidity_df.rename(columns={'2017': 'liquidity_2017',
                        '2018': 'liquidity_2018',
                        '2019': 'liquidity_2019',
                        '2020': 'liquidity_2020',
                        '2021': 'liquidity_2021',
                        '2022':'liquidity_2022'})

liquidity_df = pd.melt(liquidity_df, id_vars=['Country'], value_vars=['liquidity_2017', 'liquidity_2018', 'liquidity_2019', 'liquidity_2020', 'liquidity_2021'], var_name='date', value_name='liquidity')

# select rows containing 'liquidity_2017' or 'liquidity_2018' in the 'date' column
mask = (liquidity_df['date'] == 'liquidity_2017')
liquidity_df.loc[mask, 'date'] = '2017-1-1'  # replace with '2017'

mask = (liquidity_df['date'] == 'liquidity_2018')
liquidity_df.loc[mask, 'date'] = '2018-1-1'

mask = (liquidity_df['date'] == 'liquidity_2019')
liquidity_df.loc[mask, 'date'] = '2019-1-1'

mask = (liquidity_df['date'] == 'liquidity_2020')
liquidity_df.loc[mask, 'date'] = '2020-1-1'

mask = (liquidity_df['date'] == 'liquidity_2021')
liquidity_df.loc[mask, 'date'] = '2021-1-1'

liquidity_df = liquidity_df.sort_values(by=['Country', 'date'])

liquidity_df = liquidity_df.reset_index(drop=True)

liquidity_df.head(20)

                         Country      date     liquidity
0             Advanced Economies  2017-1-1  4,822,093.35
1             Advanced Economies  2018-1-1  4,852,344.48
2             Advanced Economies  2019-1-1  5,018,887.66
3             Advanced Economies  2020-1-1  5,635,428.32
4             Advanced Economies  2021-1-1  6,148,274.59
5   Afghanistan, Islamic Rep. of  2017-1-1      7,185.84
6   Afghanistan, Islamic Rep. of  2018-1-1      7,305.68
7   Afghanistan, Islamic Rep. of  2019-1-1      7,426.98
8   Afghanistan, Islamic Rep. of  2020-1-1      8,419.49
9   Afghanistan, Islamic Rep. of  2021-1-1           ...
10                       Albania  2017-1-1      3,523.76
11                       Albania  2018-1-1      3,829.48
12                       Albania  2019-1-1      3,626.59
13                       Albania  2020-1-1      4,647.19
14                       Albania  2021-1-1      5,470.75
15                       Algeria  2017-1-1     97,614.43
16                       Algeria  2018-1-1     80,227.70
17                       Algeria  2019-1-1     63,297.61
18                       Algeria  2020-1-1     48,882.05
19                       Algeria  2021-1-1     46,054.85

In [57]:
csv_path_6 = r"C:\Users\liu12\Documents\Bootcamp\Covid_Economics\Resources\Debt to GDP ratio.csv"
debt_df = pd.read_csv(csv_path_6, encoding="latin1")

#Dropped first 1 rows
debt_df = debt_df.iloc[1:, :]
debt_df = debt_df.reset_index(drop=True)

debt_df = debt_df.rename(columns={'2017': 'debt_2017',
                        '2018': 'debt_2018',
                        '2019': 'debt_2019',
                        '2020': 'debt_2020',
                        '2021': 'debt_2021',
                        '2022':'debt_2022',
                        'Central Government Debt (Percent of GDP)': 'Country'
                        })
debt_df = pd.melt(debt_df, id_vars=['Country'], value_vars=['debt_2017', 'debt_2018', 'debt_2019', 'debt_2020', 'debt_2021'], var_name='date', value_name='debt')

# select rows containing 'debt_2017' or 'debt_2018' in the 'date' column
mask = (debt_df['date'] == 'debt_2017')
debt_df.loc[mask, 'date'] = '2017-1-1'  # replace with '2017'

mask = (debt_df['date'] == 'debt_2018')
debt_df.loc[mask, 'date'] = '2018-1-1'

mask = (debt_df['date'] == 'debt_2019')
debt_df.loc[mask, 'date'] = '2019-1-1'

mask = (debt_df['date'] == 'debt_2020')
debt_df.loc[mask, 'date'] = '2020-1-1'

mask = (debt_df['date'] == 'debt_2021')
debt_df.loc[mask, 'date'] = '2021-1-1'

debt_df = debt_df.sort_values(by=['Country', 'date'])

debt_df = debt_df.reset_index(drop=True)

debt_df.head(20)

        Country      date    debt
0   Afghanistan  2017-1-1       8
1   Afghanistan  2018-1-1    7.38
2   Afghanistan  2019-1-1    6.13
3   Afghanistan  2020-1-1     7.4
4   Afghanistan  2021-1-1     7.6
5       Albania  2017-1-1   70.12
6       Albania  2018-1-1   67.61
7       Albania  2019-1-1   65.73
8       Albania  2020-1-1   74.45
9       Albania  2021-1-1   73.17
10      Algeria  2017-1-1   26.81
11      Algeria  2018-1-1   38.26
12      Algeria  2019-1-1   46.04
13      Algeria  2020-1-1   52.27
14      Algeria  2021-1-1   62.99
15       Angola  2017-1-1   69.32
16       Angola  2018-1-1      93
17       Angola  2019-1-1  113.55
18       Angola  2020-1-1  136.54
19       Angola  2021-1-1   86.41

In [62]:
# merge the first two data frames
merged_df = pd.merge(bot_df, exchange_df, on=['Country','date'], how='outer')

# merge the third data frame
merged_df = pd.merge(merged_df, inflation_df, on=['Country','date'], how='outer')

# merge the fourth data frame
merged_df = pd.merge(merged_df, interest_df, on=['Country','date'], how='outer')

# merge the fifth data frame
merged_df = pd.merge(merged_df, liquidity_df, on=['Country','date'], how='outer')

# merge the sixth data frame
merged_df = pd.merge(merged_df, debt_df, on=['Country','date'], how='outer')
merged_df = merged_df.rename(columns={'Country': 'country'})
merged_df = merged_df.rename(columns={'bot_x': 'bot'})
merged_df = merged_df.drop('bot_y', axis=1)
merged_df["date"] = merged_df["date"].astype(str)


merged_df.head(50)

,country,date,bot,inflation,interest,liquidity,debt
0,"Afghanistan, Islamic Rep. of",2017-01-01,"-6,803.56",NaN,NaN,NaN,NaN
1,"Afghanistan, Islamic Rep. of",2018-01-01,"-6,378.17",NaN,NaN,NaN,NaN
2,"Afghanistan, Islamic Rep. of",2019-1-1,"-5,855.06",149.9,...,"7,426.98",NaN
3,"Afghanistan, Islamic Rep. of",2020-1-1,"-5,506.55",...,...,"8,419.49",NaN
4,"Afghanistan, Islamic Rep. of",2021-1-1,...,...,...,...,NaN
5,Albania,2017-01-01,"-1,978.66",NaN,NaN,NaN,NaN
6,Albania,2018-01-01,"-2,069.59",NaN,NaN,NaN,NaN
7,Albania,2019-1-1,"-2,103.43",119.05,6.28,"3,626.59",65.73
8,Albania,2020-1-1,"-2,210.46",120.98,6.12,"4,647.19",74.45
9,Albania,2021-1-1,"-2,392.17",123.45,6.02,"5,470.75",73.17
10,Algeria,2017-01-01,"-22,402.64",NaN,NaN,NaN,NaN
11,Algeria,2018-01-01,"-15,701.39",NaN,NaN,NaN,NaN
12,Algeria,2019-1-1,"-15,707.64",151.36,8.00,"63,297.61",46.04
13,Algeria,2020-1-1,"-17,445.13",155.02,8.00,"48,882.05",52.27
14,Algeria,2021-1-1,"-2,546.28",166.22,8.00,"46,054.85",62.99
15,"Andorra, Principality of",2017-01-01,...,NaN,NaN,NaN,NaN
16,"Andorra, Principality of",2018-01-01,...,NaN,NaN,NaN,NaN
17,"Andorra, Principality of",2019-1-1,302.8,NaN,NaN,NaN,NaN
18,"Andorra, Principality of",2020-1-1,114.55,NaN,NaN,NaN,NaN
19,"Andorra, Principality of",2021-1-1,...,NaN,NaN,NaN,NaN
20,Angola,2017-01-01,"7,341.50",NaN,NaN,NaN,NaN
21,Angola,2018-01-01,"15,501.54",NaN,NaN,NaN,NaN
22,Angola,2019-1-1,"12,880.81",379.6,19.30,"16,334.85",113.55
23,Angola,2020-1-1,"5,858.76",464.14,19.66,"13,781.99",136.54
24,Angola,2021-1-1,"14,829.79",583.68,19.40,"14,468.11",86.41
25,Anguilla,2017-01-01,-13.1,NaN,NaN,NaN,NaN
26,Anguilla,2018-01-01,-200.8,NaN,NaN,NaN,NaN
27,Anguilla,2019-1-1,-128.23,107.12,8.89,58.71,NaN
28,Anguilla,2020-1-1,-114.16,106.61,8.84,52.81,NaN
29,Anguilla,2021-1-1,-149.11,108.53,7.80,56.30,NaN
30,Antigua and Barbuda,2017-01-01,17.93,NaN,NaN,NaN,NaN
31,Antigua and Barbuda,2018-01-01,-94.94,NaN,NaN,NaN,NaN
32,Antigua and Barbuda,2019-1-1,13.66,115.44,8.61,279.13,81.25
33,Antigua and Barbuda,2020-1-1,-148.47,116.16,7.68,221.81,101.48
34,Antigua and Barbuda,2021-1-1,-114.6,118.56,7.39,367.51,101.37
35,Argentina,2017-01-01,"-15,142.50",NaN,NaN,NaN,NaN
36,Argentina,2018-01-01,"-9,678.50",NaN,NaN,NaN,NaN
37,Argentina,2019-1-1,"13,390.55",NaN,67.25,"42,192.53",88.84
38,Argentina,2020-1-1,"12,092.40",NaN,29.39,"35,649.97",102.79
39,Argentina,2021-1-1,"15,052.83",NaN,35.56,"36,448.37",80.93
40,"Armenia, Rep. of",2017-01-01,"-1,243.55",NaN,NaN,NaN,NaN
41,"Armenia, Rep. of",2018-01-01,"-1,752.74",NaN,NaN,NaN,NaN
42,"Armenia, Rep. of",2019-1-1,"-1,808.98",129.18,12.14,"2,849.65",NaN
43,"Armenia, Rep. of",2020-1-1,"-1,264.11",130.74,11.62,"2,615.53",NaN
44,"Armenia, Rep. of",2021-1-1,"-1,107.86",140.13,11.76,"3,229.85",NaN
45,"Aruba, Kingdom of the Netherlands",2017-01-01,267.37,NaN,NaN,NaN,NaN
46,"Aruba, Kingdom of the Netherlands",2018-01-01,287.4,NaN,NaN,NaN,NaN
47,"Aruba, Kingdom of the Netherlands",2019-1-1,321.66,109.53,5.70,830.00,NaN
48,"Aruba, Kingdom of the Netherlands",2020-1-1,-200.49,...,6.80,"1,023.47",NaN
49,"Aruba, Kingdom of the Netherlands",2021-1-1,253.59,...,...,"1,330.95",NaN

In [63]:
# Save dataframe to CSV file
merged_df.to_csv('downloaded_merged.csv', index=False)