In [19]:
import pandas as pd
import numpy as np

In [20]:
# Read the inflation.csv file into a dataframe
growth_df = pd.read_csv("Working Data.csv")
growth_df = growth_df.sort_values(['country', 'year'])

In [21]:
for i in range(1, len(growth_df)):
    if growth_df.loc[i, 'country'] == growth_df.loc[i-1, 'country']:
        growth_df.loc[i, 'GDP_change'] = growth_df.loc[i, 'GDP'] - growth_df.loc[i-1, 'GDP']
growth_df = growth_df.drop('Unnamed: 0', axis=1)
growth_df = growth_df.reset_index(drop=True)
growth_df

,country,ISO,year,population,GDP,inflation,unemployment,GDP_change
0,Afghanistan,AFG,2018,36686784,1.841885e+10,0.626149,NaN,-4.856420e+08
1,Afghanistan,AFG,2019,37769499,1.890449e+10,2.302373,NaN,-1.238952e+09
2,Afghanistan,AFG,2020,38972230,2.014344e+10,NaN,11.71,5.356581e+09
3,Afghanistan,AFG,2021,40099462,1.478686e+10,NaN,5.58,NaN
4,Albania,ALB,2018,2866376,1.515643e+10,2.028060,12.30,-2.453984e+08
...,...,...,...,...,...,...,...,...
847,Zambia,ZMB,2021,19473125,2.214763e+10,22.021234,5.20,NaN
848,Zimbabwe,ZWE,2018,15052184,3.415607e+10,10.618866,NaN,1.232383e+10
849,Zimbabwe,ZWE,2019,15354608,2.183223e+10,255.304991,7.37,3.225365e+08
850,Zimbabwe,ZWE,2020,15669666,2.150970e+10,557.201817,NaN,-6.861540e+09
851,Zimbabwe,ZWE,2021,15993524,2.837124e+10,98.546105,NaN,NaN

In [22]:
covid_df = pd.read_csv("covid_scores_final.csv")
covid_df = covid_df.drop('Unnamed: 0', axis=1)
covid_df = covid_df.drop('Population', axis=1)
covid_df = covid_df.drop('CountryCode', axis=1)
covid_df

,Country,Year,ConfirmedCases,ConfirmedDeaths,CasesPer1k,DeathsPer1k,PopulationVaccinated,StringencyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,Afghanistan,2020,52330.0,2189.0,1.320850,0.055252,0.00,50.400873,41.275527,46.769891,2.818182
1,Afghanistan,2021,158084.0,7356.0,3.895567,0.181269,9.13,29.242219,24.306740,27.781370,0.000000
2,Afghanistan,2022,207559.0,7849.0,4.980175,0.188329,26.15,11.415644,14.827370,16.943863,0.000000
3,Albania,2020,58316.0,1181.0,20.379044,0.412711,0.00,66.484618,63.669964,64.499673,57.863636
4,Albania,2021,210224.0,3217.0,73.818417,1.129623,36.28,48.590904,55.050986,55.216329,53.904110
...,...,...,...,...,...,...,...,...,...,...,...
556,Zambia,2021,254274.0,3734.0,12.877412,0.189104,6.08,41.460795,40.143178,43.368630,17.568493
557,Zambia,2022,334425.0,4024.0,16.482572,0.198328,42.74,9.308384,23.528247,24.311726,18.047945
558,Zimbabwe,2020,13867.0,363.0,0.875768,0.022925,0.00,77.067600,57.045564,61.712800,24.363636
559,Zimbabwe,2021,213258.0,5004.0,13.202425,0.309789,19.21,61.884932,53.640795,60.540219,5.342466
560,Zimbabwe,2022,259981.0,5637.0,15.767766,0.341882,29.11,51.833918,49.857589,56.979644,0.000000

In [23]:
covid_df = covid_df.rename(columns={'Country': 'country'})
covid_df = covid_df.rename(columns={'Year': 'year'})

In [24]:
merged_df = pd.merge(growth_df, covid_df, on=['country', 'year'], how='outer')
merged_df

,country,ISO,year,population,GDP,inflation,unemployment,GDP_change,ConfirmedCases,ConfirmedDeaths,CasesPer1k,DeathsPer1k,PopulationVaccinated,StringencyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,Afghanistan,AFG,2018,36686784.0,1.841885e+10,0.626149,NaN,-4.856420e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2019,37769499.0,1.890449e+10,2.302373,NaN,-1.238952e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,2020,38972230.0,2.014344e+10,NaN,11.71,5.356581e+09,52330.0,2189.0,1.320850,0.055252,0.00,50.400873,41.275527,46.769891,2.818182
3,Afghanistan,AFG,2021,40099462.0,1.478686e+10,NaN,5.58,NaN,158084.0,7356.0,3.895567,0.181269,9.13,29.242219,24.306740,27.781370,0.000000
4,Albania,ALB,2018,2866376.0,1.515643e+10,2.028060,12.30,-2.453984e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,Vietnam,NaN,2021,NaN,NaN,NaN,NaN,NaN,1731257.0,32394.0,17.694364,0.331084,69.70,69.148493,64.241973,70.131233,23.013699
1081,Vietnam,NaN,2022,NaN,NaN,NaN,NaN,NaN,11525231.0,43186.0,116.970099,0.438297,87.29,37.224575,44.821918,51.223370,0.000000
1082,Yemen,NaN,2022,NaN,NaN,NaN,NaN,NaN,11945.0,2159.0,0.350592,0.063368,2.25,16.224822,16.310411,18.639918,0.000000
1083,Zambia,NaN,2022,NaN,NaN,NaN,NaN,NaN,334425.0,4024.0,16.482572,0.198328,42.74,9.308384,23.528247,24.311726,18.047945
1084,Zimbabwe,NaN,2022,NaN,NaN,NaN,NaN,NaN,259981.0,5637.0,15.767766,0.341882,29.11,51.833918,49.857589,56.979644,0.000000

In [28]:
merged_df = merged_df.dropna(subset=['ISO'])
merged_df.to_csv("merged.csv")