In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('BalanceofTrade.csv')

In [15]:
df.head(20)

,External Sector selected indicators,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"Current Account, Goods and Services, Net, US D...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Source: International Financial Statistics (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Scale,Base Year,2017,2018,2019,2020,2021
5,"Afghanistan, Islamic Rep. of",Millions,NaN,"-6,803.56","-6,378.17","-5,855.06","-5,506.55",...
6,Albania,Millions,NaN,"-1,978.66","-2,069.59","-2,103.43","-2,210.46","-2,392.17"
7,Algeria,Millions,NaN,"-22,402.64","-15,701.39","-15,707.64","-17,445.13","-2,546.28"
8,"Andorra, Principality of",Millions,NaN,...,...,302.8,114.55,...
9,Angola,Millions,NaN,"7,341.50","15,501.54","12,880.81","5,858.76","14,829.79"
10,Anguilla,Millions,NaN,-13.1,-200.8,-128.23,-114.16,-149.11
11,Antigua and Barbuda,Millions,NaN,17.93,-94.94,13.66,-148.47,-114.6
12,Argentina,Millions,NaN,"-15,142.50","-9,678.50","13,390.55","12,092.40","15,052.83"
13,"Armenia, Rep. of",Millions,NaN,"-1,243.55","-1,752.74","-1,808.98","-1,264.11","-1,107.86"
14,"Aruba, Kingdom of the Netherlands",Millions,NaN,267.37,287.4,321.66,-200.49,253.59
15,Australia,Millions,NaN,"7,240.69","15,601.72","47,467.24","50,453.09","90,807.78"
16,Austria,Millions,NaN,"12,470.32","13,271.15","15,746.44","12,997.59","2,507.55"
17,"Azerbaijan, Rep. of",Millions,NaN,"2,735.43","7,779.27","5,917.28",-329.07,"9,150.72"
18,"Bahamas, The",Millions,NaN,"-1,158.78",-364.42,324.22,"-1,760.45","-1,722.27"
19,"Bahrain, Kingdom of",Millions,NaN,"2,855.85","2,910.37",...,...,...