In [3]:
import pandas as pd

In [11]:
GDP_growthrate_df = pd.read_csv('ECONGROWTH_2020.csv')
GDP_growthrate_df.head(20)

                Country Code  Year  Economic growth
0           Afghanistan  AFG  2020            -2.35
1               Albania  ALB  2020            -3.48
2               Algeria  DZA  2020            -5.10
3               Andorra  AND  2020           -11.18
4                Angola  AGO  2020            -5.60
5   Antigua and Barbuda  ATG  2020           -20.19
6             Argentina  ARG  2020            -9.94
7               Armenia  ARM  2020            -7.20
8                 Aruba  ABW  2020           -18.59
9             Australia  AUS  2020            -0.05
10              Austria  AUT  2020            -6.45
11           Azerbaijan  AZE  2020            -4.30
12              Bahamas  BHS  2020           -23.82
13              Bahrain  BHR  2020            -4.94
14           Bangladesh  BGD  2020             3.45
15             Barbados  BRB  2020           -13.31
16              Belarus  BLR  2020            -0.70
17              Belgium  BEL  2020            -5.36
18               Belize  BLZ  2020           -13.40
19                Benin  BEN  2020             3.85

In [14]:
top_gdp_df = GDP_growthrate_df.sort_values(by='Economic growth', ascending=False).head(15)

# Sort the dataframe by GDP_change_pct in ascending order and select top 15 rows
bottom_gdp_df = GDP_growthrate_df.sort_values(by='Economic growth', ascending=True).head(15)

top_gdp_df

                   Country Code  Year  Economic growth
69                  Guyana  GUY  2020            43.48
79                 Ireland  IRL  2020             6.18
55                Ethiopia  ETH  2020             6.06
67                  Guinea  GIN  2020             4.92
167             Tajikistan  TJK  2020             4.40
19                   Benin  BEN  2020             3.85
51                   Egypt  EGY  2020             3.57
121                  Niger  NER  2020             3.55
14              Bangladesh  BGD  2020             3.45
77                    Iran  IRN  2020             3.33
29         Burma (Myanmar)  MMR  2020             3.17
146  Sao Tome and Principe  STP  2020             3.02
176                 Uganda  UGA  2020             2.95
184                Vietnam  VNM  2020             2.87
156                Somalia  SOM  2020             2.49

In [15]:
bottom_gdp_df

                 Country Code  Year  Economic growth
99                 Macao  MAC  2020           -54.24
103             Maldives  MDV  2020           -33.49
142          Saint Lucia  LCA  2020           -24.36
96                 Libya  LBY  2020           -23.93
12               Bahamas  BHS  2020           -23.82
93               Lebanon  LBN  2020           -21.40
5    Antigua and Barbuda  ATG  2020           -20.19
8                  Aruba  ABW  2020           -18.59
129               Panama  PAN  2020           -17.94
56                  Fiji  FJI  2020           -17.00
48              Dominica  DMA  2020           -16.60
162             Suriname  SUR  2020           -15.98
113           Montenegro  MNE  2020           -15.31
34            Cape Verde  CPV  2020           -14.78
107            Mauritius  MUS  2020           -14.60

In [17]:
GDP_growthrate_2021_df = pd.read_csv('ECONGROWTH_2021.csv')
GDP_growthrate_2021_df.head(20)

                Country Code  Year  Econ growth 2021
0           Afghanistan  AFG  2021            -20.74
1               Albania  ALB  2021              8.52
2               Algeria  DZA  2021              3.50
3               Andorra  AND  2021              8.95
4                Angola  AGO  2021              1.10
5   Antigua and Barbuda  ATG  2021              5.27
6             Argentina  ARG  2021             10.40
7               Armenia  ARM  2021              5.70
8                 Aruba  ABW  2021             17.17
9             Australia  AUS  2021              2.24
10              Austria  AUT  2021              4.56
11           Azerbaijan  AZE  2021              5.60
12              Bahamas  BHS  2021             13.72
13              Bahrain  BHR  2021              2.23
14           Bangladesh  BGD  2021              6.94
15             Barbados  BRB  2021             -0.19
16              Belarus  BLR  2021              2.30
17              Belgium  BEL  2021              6.13
18               Belize  BLZ  2021             15.23
19                Benin  BEN  2021              7.16

In [18]:
top_gdp_2021_df = GDP_growthrate_df.sort_values(by='Econ growth 2021', ascending=False).head(15)

# Sort the dataframe by GDP_change_pct in ascending order and select top 15 rows
bottom_gdp__2021_df = GDP_growthrate_df.sort_values(by='Econ growth 2021', ascending=True).head(15)

top_gdp_2021_df

        Country Code  Year  Econ growth 2021
102    Maldives  MDV  2021             41.75
95        Libya  LBY  2021             31.37
110      Monaco  MCO  2021             21.55
69       Guyana  GUY  2021             20.06
98        Macao  MAC  2021             19.27
8         Aruba  ABW  2021             17.17
128      Panama  PAN  2021             15.34
18       Belize  BLZ  2021             15.23
109     Moldova  MDA  2021             13.94
12      Bahamas  BHS  2021             13.72
79      Ireland  IRL  2021             13.59
131        Peru  PER  2021             13.35
42      Croatia  HRV  2021             13.07
71     Honduras  HND  2021             12.53
112  Montenegro  MNE  2021             12.43

In [19]:
bottom_gdp__2021_df

                   Country Code  Year  Econ growth 2021
0              Afghanistan  AFG  2021            -20.74
29         Burma (Myanmar)  MMR  2021            -17.91
126                  Palau  PLW  2021            -13.33
143                  Samoa  WSM  2021             -7.08
92                 Lebanon  LBN  2021             -7.00
56                    Fiji  FJI  2021             -5.11
108             Micronesia  FSM  2021             -3.19
160               Suriname  SUR  2021             -2.73
168                  Tonga  TON  2021             -2.67
137  Republic of the Congo  COG  2021             -2.20
159                  Sudan  SDN  2021             -1.87
70                   Haiti  HTI  2021             -1.80
26                  Brunei  BRN  2021             -1.59
36                    Chad  TCD  2021             -1.20
169    Trinidad and Tobago  TTO  2021             -1.03

In [21]:
GDP_growthrate_both_df = pd.read_csv('ECONGROWTH_2020_2021.csv')
GDP_growthrate_both_df.head(20)

,Country,Code,Econ growth 2020,Econ growth 2021,Avg Econ Growth
0,Afghanistan,AFG,-2.35,-20.74,-11.545
1,Albania,ALB,-3.48,8.52,2.520
2,Algeria,DZA,-5.10,3.50,-0.800
3,Andorra,AND,-11.18,8.95,-1.115
4,Angola,AGO,-5.60,1.10,-2.250
5,Antigua and Barbuda,ATG,-20.19,5.27,-7.460
6,Argentina,ARG,-9.94,10.40,0.230
7,Armenia,ARM,-7.20,5.70,-0.750
8,Aruba,ABW,-18.59,17.17,-0.710
9,Australia,AUS,-0.05,2.24,1.095
10,Austria,AUT,-6.45,4.56,-0.945
11,Azerbaijan,AZE,-4.30,5.60,0.650
12,Bahamas,BHS,-23.82,13.72,-5.050
13,Bahrain,BHR,-4.94,2.23,-1.355
14,Bangladesh,BGD,3.45,6.94,5.195
15,Barbados,BRB,-13.31,-0.19,-6.750
16,Belarus,BLR,-0.70,2.30,0.800
17,Belgium,BEL,-5.36,6.13,0.385
18,Belize,BLZ,-13.40,15.23,0.915
19,Benin,BEN,3.85,7.16,5.505

In [24]:
top_gdp_avg_df = GDP_growthrate_both_df.sort_values(by='Avg Econ Growth', ascending=False).head(15)

# Sort the dataframe by GDP_change_pct in ascending order and select top 15 rows
bottom_gdp__avg_df = GDP_growthrate_both_df.sort_values(by='Avg Econ Growth', ascending=True).head(15)

top_gdp_avg_df

          Country Code  Econ growth 2020  Econ growth 2021  Avg Econ Growth
69         Guyana  GUY             43.48             20.06           31.770
79        Ireland  IRL              6.18             13.59            9.885
164    Tajikistan  TJK              4.40              9.20            6.800
171        Turkey  TUR              1.94             11.35            6.645
55       Ethiopia  ETH              6.06              5.64            5.850
19          Benin  BEN              3.85              7.16            5.505
14     Bangladesh  BGD              3.45              6.94            5.195
38          China  CHN              2.24              8.11            5.175
179    Uzbekistan  UZB              1.89              7.42            4.655
82    Ivory Coast  CIV              1.98              7.04            4.510
28   Burkina Faso  BFA              1.93              6.91            4.420
67         Guinea  GIN              4.92              3.90            4.410
110        Monaco  MCO            -12.97             21.55            4.290
119     Nicaragua  NIC             -1.79             10.34            4.275
102      Maldives  MDV            -33.49             41.75            4.130

In [26]:
bottom_gdp__avg_df

,Country,Code,Econ growth 2020,Econ growth 2021,Avg Econ Growth
98,Macao,MAC,-54.24,19.27,-17.485
92,Lebanon,LBN,-21.40,-7.00,-14.200
0,Afghanistan,AFG,-2.35,-20.74,-11.545
126,Palau,PLW,-9.11,-13.33,-11.220
56,Fiji,FJI,-17.00,-5.11,-11.055
160,Suriname,SUR,-15.98,-2.73,-9.355
5,Antigua and Barbuda,ATG,-20.19,5.27,-7.460
29,Burma (Myanmar),MMR,3.17,-17.91,-7.370
15,Barbados,BRB,-13.31,-0.19,-6.750
141,Saint Lucia,LCA,-24.36,12.23,-6.065
106,Mauritius,MUS,-14.60,3.70,-5.450
143,Samoa,WSM,-3.11,-7.08,-5.095
12,Bahamas,BHS,-23.82,13.72,-5.050
48,Dominica,DMA,-16.60,6.68,-4.960
65,Grenada,GRD,-13.76,4.69,-4.535

In [28]:
critical_indicators_df = pd.read_csv('Five_critical_indicators.csv')
critical_indicators_df.head(20)

,Country,Code,Year,Exports as percent of GDP,External debt percent of GDP,Corruption Index 100,Int tourism percent of GDP
0,Afghanistan,AFG,2019,NaN,13.94,16.0,0.45
1,Albania,ALB,2019,31.30,61.02,35.0,15.96
2,Algeria,DZA,2019,22.71,3.28,35.0,0.08
3,Andorra,AND,2019,NaN,NaN,NaN,60.54
4,Angola,AGO,2019,40.79,102.75,26.0,0.57
5,Antigua and Barbuda,ATG,2019,70.88,NaN,NaN,58.78
6,Argentina,ARG,2019,17.92,64.52,45.0,1.26
7,Armenia,ARM,2019,41.35,86.13,42.0,11.40
8,Aruba,ABW,2019,73.02,NaN,NaN,62.60
9,Australia,AUS,2019,24.15,NaN,77.0,3.44
10,Austria,AUT,2019,55.76,NaN,77.0,5.83
11,Azerbaijan,AZE,2019,49.05,34.21,30.0,4.16
12,Bahamas,BHS,2019,35.69,NaN,64.0,31.46
13,Bahrain,BHR,2019,76.49,NaN,42.0,9.99
14,Bangladesh,BGD,2019,13.09,17.07,26.0,0.11
15,Barbados,BRB,2019,36.48,NaN,62.0,NaN
16,Belarus,BLR,2019,65.09,65.18,45.0,2.00
17,Belgium,BEL,2019,82.40,NaN,75.0,1.97
18,Belize,BLZ,2019,51.25,77.31,NaN,NaN
19,Benin,BEN,2019,29.63,27.51,41.0,1.67