In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the inflation.csv file into a dataframe
fred_df = pd.read_csv('FRED_merged.csv')

# Read the population.csv file into a dataframe
downloaded_df = pd.read_csv('downloaded_merged.csv')

In [3]:
downloaded_df

,country,date,bot,inflation,interest,liquidity,debt
0,"Afghanistan, Islamic Rep. of",2017,"-6,803.56",NaN,NaN,NaN,NaN
1,"Afghanistan, Islamic Rep. of",2018,"-6,378.17",NaN,NaN,NaN,NaN
2,"Afghanistan, Islamic Rep. of",2019,"-5,855.06",149.9,...,"7,426.98",NaN
3,"Afghanistan, Islamic Rep. of",2020,"-5,506.55",...,...,"8,419.49",NaN
4,"Afghanistan, Islamic Rep. of",2021,...,...,...,...,NaN
...,...,...,...,...,...,...,...
1753,NaN,2017,NaN,NaN,NaN,NaN,NaN
1754,NaN,2018,NaN,NaN,NaN,NaN,NaN
1755,NaN,2019,NaN,NaN,NaN,NaN,NaN
1756,NaN,2020,NaN,NaN,NaN,NaN,NaN
1757,NaN,2021,NaN,NaN,NaN,NaN,NaN

In [4]:
downloaded_df['country']=downloaded_df.country.str.split(',').str[0]

In [5]:
fred_df['date']=pd.to_datetime(fred_df['date']).dt.year

In [6]:
merged_df = pd.merge(fred_df, downloaded_df, on=['country', 'date'], how='outer')
merged_df.head(5)

,country,date,Fiscal Balance,GDP per capita,GDP,Unemployment Rate,Inflation,Population,CPI,bot,inflation,interest,liquidity,debt
0,Aruba,2018,NaN,31705.279053,3.202235e+09,NaN,3.62604141352956,105962,3.626041,287.4,NaN,NaN,NaN,NaN
1,Aruba,2018,NaN,31705.279053,3.202235e+09,NaN,3.62604141352956,105962,3.626041,NaN,105.06,6.00,852.08,NaN
2,Aruba,2019,NaN,31762.734026,3.368970e+09,NaN,4.25746204335428,106442,4.257462,321.66,109.53,5.70,830.00,NaN
3,Afghanistan,2018,1.63419574,502.056771,1.841885e+10,17.466,0.62614913,.,NaN,"-6,378.17",NaN,NaN,NaN,NaN
4,Afghanistan,2018,1.63419574,502.056771,1.841885e+10,17.466,0.62614913,.,NaN,NaN,146.52,...,"7,305.68",NaN

In [7]:
merged_df.to_csv('my_data.csv', index=False)

In [8]:
# Clean data and eliminate data gaps with further csv files - Anthony

In [9]:
print(merged_df.columns)

Index(['country', 'date', 'Fiscal Balance', 'GDP per capita', 'GDP',
       'Unemployment Rate', 'Inflation', 'Population', 'CPI', 'bot',
       'inflation', 'interest', 'liquidity', 'debt'],
      dtype='object')

In [10]:
# Eliminate duplicate rows
merged_df1 = merged_df.groupby(['country', 'date']).agg(lambda x: x.mode().iat[0] if len(x.dropna()) > 0 else None).reset_index()

In [11]:
# Remove inaccurate data after data verification by sampling
merged_df2 = merged_df1.drop(['Population', 'Inflation', 'CPI', 'Fiscal Balance', 'GDP per capita', 'GDP', 'Unemployment Rate'], axis=1)
merged_df2 = merged_df2[merged_df2['country'] != 'Advanced Economies']

In [12]:
merged_df2.to_csv('clean_data1.csv', index=False)

In [ ]:
#GOOD UPTO HERE! BELOW TRYING TO MERGE BOTH CSV FILES TO DF BUT NOT SUCCESSFUL#

In [13]:
# Add more data from csv to replace rogue data
gdp_df = pd.read_csv('GDP.csv', encoding='latin1')
unemployment_rate_df = pd.read_csv('unemployment_rate.csv', encoding='latin1')

gdp_df = gdp_df.dropna(subset=['country'])

gdp_df['country'] = gdp_df['country'].astype(int)
merged_df2['country'] = merged_df2['country'].astype(int)

final_merged_df = pd.merge(merged_df2, gdp_df, on=['country', 'date'], how='left')

ValueError: invalid literal for int() with base 10: 'Afghanistan'

In [ ]:
final_merged_df.to_csv('merge_data.csv', index=False)

In [ ]:
# to remove 2017 dat# 
['date'] != 2017]

# to encode gdp file#
import codecs
with codecs.open('GDP_country.csv', 'r', encoding='utf-16', errors='ignore') as f:
    gdp_df = pd.read_csv(f)
    
#final_merged_df = pd.merge(merged_df2, gdp_df, on=['country', 'date'], how='left')
final_merged_df = pd.merge(final_merged_df, unemployment_rate_df, on=['country', 'date'], how='left')